<html>
	<head>
		<!--
		Basic CSS styles courtesy of 
		GitHub Primer (https://primer.github.io/)
		-->
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer@10.5.0/build/build.css">
		<style>
			img{
				width: 128px;
				border-radius: 3px;
			}
			h3{
				padding: 15px 0;
			}
			p{
				padding-bottom: 5px;
			}
		</style>
	</head>
	<body>
	    <div class="p-5">
	        <div class="blankslate blankslate-narrow p-9">
	            <img src="<%= user_photo_url %>" />
	            <h3>
	                Hey, <a href="<%= user_url %>">@<%= user_login %></a>!
	            </h3>
	            <p>
	                You are GitHub user #<%= user_id %>
	            </p>
	            <p class="text-gray alt-text-small">
	                Click <a href="https://api.github.com/users/<%= user_login %>">here</a> to see all of
	                <br>your public profile data
	            </p>
	        </div>
	    </div>
	</body>
</html>